body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: lightgray;
}
.container {
  width: 90%;
  margin: 0.5rem auto;
  box-shadow: 0px 0px 0px 2px gray;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "footer";
  &__header {
    grid-area: "header";
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 80%;
    top: 2rem;
    left: 50%;
    right: 50%;
    border-radius: 2rem;
    background: darkolivegreen;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  &__section {
    grid-area: "section";
    width: 90%;
    padding: 1rem;
  }
  &__footer {
    grid-area: "footer";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 90%;
    margin: 0 auto;
    border-radius: 2rem;
    background: darkolivegreen;
    padding: 1rem;
  }
}
